#container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
}
#map {
  height: 100%;
  right: 0;
}
.list-view {
  height: 82%;
  background-color: white;
  width: 25%;
  position: absolute;
  top: 10%;
  left: 0;
  padding: 0 15px;
  border-radius:0 10px 10px 0;
}
.list-view > h1 {
  position: absolute;
  top: 0;
  font-family:sans-serif;
  font-size: 26px;
  color: #aaaaaa;
  padding: 10px 0;
  text-align: center;
  width: calc(100% - 30px);
  border-bottom: solid 1px grey;
}
.list-view > input {
  position: inherit;
  top: 85px;
  font-family: serif;
  font-size: 16px;
  border-radius: 20px;
  border: solid 2px #aaaaaa;
  color: #aaaaaa;
  padding: 5px;
  padding-left: 14px;
  width: calc(100% - 50px);
}
.list-view > ul {
  overflow: auto;
  top: 120px;
  bottom: 25px;
  position: absolute;
  list-style: none;
  padding: 0 5px;
  width: calc(100% - 40px);
}

/
.list-view > ul::-webkit-scrollbar {
  width: 5px;
}
.list-view > ul::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}
.list-view > ul::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}
.list-view > ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.list-view li {
  font-size: 20px;
  text-align: center;
}
.button {
  padding: 5px 0;
  width: 100%;
  font-size: 16px;
  border: none;
  text-align: center;
  background-color: white;
  font-family: serif;
  color: #888;
}
.button:hover {
  color: #7FDBFF;
  cursor: pointer;
}
.list-view > img {
  position: absolute;
  bottom: 5px;
  left: 0;
  padding: 0 22.5%;
  width: 55%;
}
.infoWindow h1 {
  color: #7FDBFF;
}
@media screen and (max-width: 1020px) {
  .list-view > h1 {
    font-size: 20px;
  }
  .list-view > input {
    top: 70px;
  }
  .list-view > ul {
    top: 95px;
  }
  .list-view > img {
    padding: 0 15%;
    width: 70%;
  }
}
@media screen and (max-width: 790px) {
  .list-view > h1 {
    font-size: 16px;
  }
  .list-view > input {
    top: 60px;
    font-size: 12px;
  }
  .list-view > ul {
    top: 85px;
  }
  .list-view button {
    font-size: 11px;
    padding: 0;
  }
}
@media screen and (max-width: 630px) {
  .list-view > input {
    font-size: 10px;
    top: 75px;
    padding: 5px;
    width: calc(100% - 40px);
  }
  .list-view > ul {
    top: 94px;
    bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .list-view > h1 {
    font-size: 30px;
  }
  .list-view > input {
    font-size: 28px;
  }
  .list-view > ul {
    top: 132px;
    bottom: 52px;
  }
  .list-view button {
    font-size: 26px;
  }
  .list-view > img {
    padding: 0 5%;
    width: 90%;
  }
}
